.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 12px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.description {
  font-size: 18px;
}
