.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.showPostsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCount {
  margin-bottom: 8px;
}

.chipContainer {
  margin-bottom: 8px;
}
